html, body {
	font-size: 12px;
	font-family: Arial, Verdana;
	background: #002 url("../img/cosmos.jpg") no-repeat center center;
}

canvas { float:left; }

.clear { clear: both; }
.left { float: left; }
.right { float: right; }

img#loader{
	display:none;
}
a#pauser{
	color: #fff;
}
div#playground{
	background-color: none;
	width: 350px;
	height: 350px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
div#poster {
	display: none;
	float: left;
	margin-top: 20px;
	width: inherit;
}
div#locationName {
	color: #fff;
	font-weight:bold;
	padding: 5px;
	text-align: center;
	width: inherit;
}
div#albumTitle {
	background-color: #fff;
	padding: 5px;
	width: inherit;
}